.location .loc_list {
  display: none;
  overflow: hidden;
  position: relative;
  z-index: 10;
  width: 699px;
  height: 246px;
}
.location .loc_list .list,
.location .loc_list .list2,
.location .loc_list .list3 {
  scrollbar-face-color: #fff;
  scrollbar-track-color: #f2f3f3;
  scrollbar-arrow-color: #8991a8;
  scrollbar-highlight-color: #fff;
  scrollbar-3dlight-color: #e1e2e6;
  scrollbar-shadow-color: #fff;
  scrollbar-darkshadow-color: #e1e2e6;
}
.location .loc_list .list {
  overflow: hidden;
  float: left;
  position: relative;
  width: 185px;
  height: 241px;
  padding: 6px 0 0;
  border-right: 1px solid #bcbcbc;
  background: url(https://ssl.pstatic.net/static.land/static/service/20191007/home/bg_map_dot.gif)
    repeat-y 92px 0;
}
.location .loc_list .list ul {
  overflow: hidden;
  position: relative;
  width: 188px;
}
.location .loc_list .list li {
  overflow: hidden;
  float: left;
  height: 23px;
  margin: 0 1px 3px 0;
  padding: 0 7px;
}
.location .loc_list .list li a {
  display: block;
  overflow: hidden;
  width: 70px;
  height: 18px;
  padding: 5px 0 0 8px;
  line-height: 16px;
  /* .line-height: 14px; */
  /* #line-height: 16px; */
  color: #3e3e3e;
  text-decoration: none;
}
:root .location .loc_list .list li a {
  line-height: 15px;
}
.location .loc_list .list li a.selected,
.location .loc_list .list li a:hover {
  background: url(https://ssl.pstatic.net/static.land/static/service/20191007/home/bg_home_con2.gif)
    no-repeat;
  font-weight: 700;
  letter-spacing: -1px;
}
.location .loc_list .list li a:hover {
  background-position: -517px -61px;
  color: #3e3e3e;
}
.location .loc_list .list li a.selected {
  background-position: -605px -61px;
  color: #4174ce !important;
}
.location .loc_list .list2 {
  overflow: hidden;
  overflow-y: scroll;
  float: left;
  position: relative;
  width: 201px;
  height: 241px;
  padding: 6px 0 0;
  border-right: 1px solid #bcbcbc;
  background: url(https://ssl.pstatic.net/static.land/static/service/20191007/home/bg_map_dot.gif)
    repeat-y 92px 0;
}
.location .loc_list .list2 ul {
  overflow: hidden;
  float: left;
  position: relative;
  width: 184px;
}
.location .loc_list .list2 li {
  overflow: hidden;
  position: relative;
  float: left;
  width: 74px;
  margin: 0 4px 3px 0;
  padding: 0 7px;
  vertical-align: top;
  zoom: 1;
}
.location .loc_list .list2 li a {
  display: block;
  overflow: hidden;
  width: 70px;
  height: 18px;
  padding: 5px 0 0 8px;
  line-height: 16px;
  /* .line-height: 14px; */
  /* #line-height: 16px; */
  color: #3e3e3e;
  text-decoration: none;
}
:root .location .loc_list .list2 li a {
  line-height: 15px !important;
}
.location .loc_list .list2 li a.multi {
  height: 36px;
  line-height: 16px;
}
.location .loc_list .list2 li a.selected,
.location .loc_list .list2 li a:hover {
  background: url(https://ssl.pstatic.net/static.land/static/service/20191007/home/bg_home_con2.gif)
    no-repeat;
  font-weight: 700;
  letter-spacing: -1px;
}
.location .loc_list .list2 li a:hover {
  background-position: -517px -61px;
  color: #3e3e3e;
}
.location .loc_list .list2 li a.selected {
  background-position: -605px -61px !important;
  color: #4174ce !important;
}
.location .loc_list .list2 li a.multi:hover {
  background-position: -517px -124px;
}
.location .loc_list .list2 li a.selected.multi {
  background-position: -605px -124px !important;
}
.location .loc_list .list3 {
  overflow: hidden;
  overflow-y: scroll;
  float: right;
  position: relative;
  width: 311px;
  height: 175px;
  border-bottom: 1px solid #bcbcbc;
  background: url(https://ssl.pstatic.net/static.land/static/service/20191007/home/bg_map_dot2.gif)
    repeat-y 98px 0;
}
.location .loc_list .list3 ul {
  overflow: hidden;
  float: left;
  position: relative;
  width: 294px;
  padding: 6px 0 0;
}
.location .loc_list .list3 li {
  overflow: hidden;
  display: inline-block;
  margin: 0 -3px 3px 0;
  padding: 0 7px;
  vertical-align: top;
}
.location .loc_list .list3 li a {
  display: block;
  overflow: hidden;
  width: 76px;
  height: 18px;
  padding: 5px 0 0 8px;
  line-height: 16px;
  /* .line-height: 14px; */
  /* #line-height: 16px; */
  color: #3e3e3e;
  text-decoration: none;
}
:root .location .loc_list .list3 li a {
  line-height: 15px;
}
.location .loc_list .list3 li a span {
  position: relative;
  top: -1px;
  font-weight: 400 !important;
  font-size: 9px;
  font-family: Tahoma;
  color: #b5b5b5;
  letter-spacing: 0 !important;
}
.location .loc_list .list3 li a.multi {
  height: 36px;
  line-height: 16px;
}
.location .loc_list .list3 li a.selected,
.location .loc_list .list3 li a:hover {
  background: url(https://ssl.pstatic.net/static.land/static/service/20191007/home/bg_home_con2.gif)
    no-repeat;
  font-weight: 700;
  letter-spacing: -1px;
}
.location .loc_list .list3 li a:hover {
  background-position: -517px -93px;
  color: #3e3e3e;
}
.location .loc_list .list3 li a.selected {
  background-position: -605px -93px !important;
  color: #4174ce;
}
.location .loc_list .list3 li a.multi:hover {
  background-position: -334px -157px;
}
.location .loc_list .list3 li a.selected.multi {
  background-position: -422px -157px !important;
}
.location .loc_list .list3 .none {
  width: 295px;
  height: 169px;
  background: #fff;
}
.location .loc_list .list3 .none li {
  display: inline;
  overflow: hidden;
  float: left;
  width: 113px;
  height: 15px;
  margin: 72px 0 0 93px;
  padding: 0;
  background: url(https://ssl.pstatic.net/static.land/static/service/20191007/home/bg_home_con2.gif)
    no-repeat -516px -36px;
  line-height: 999px;
  vertical-align: top;
}
.location .loc_list .sel_view {
  float: right;
  position: relative;
  width: 311px;
  height: 70px;
  background: #f7f8f9;
}
.location .loc_list .sel_view p.txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  margin: 19px 0 0 16px;
  line-height: 18px;
  color: #565657;
  letter-spacing: -1px;
}
.location .loc_list .sel_view p.txt em {
  color: #4174ce;
}
.location .loc_list .sel_view p.txt span.bar {
  color: #cacfd6;
}
.location .loc_list .sel_view p.txt small {
  font-size: 11px;
  font-family: Verdana;
  color: #5c5c5d;
}
.location .loc_list .sel_view p.btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 104px;
  height: 37px;
  margin: 17px 0 0 191px;
}
.location .loc_list .sel_view p.btn a {
  display: block;
  overflow: hidden;
  width: 104px;
  height: 37px;
  background: url(https://ssl.pstatic.net/static.land/static/service/20191007/home/bg_home_con2.gif)
    no-repeat 0 -427px;
  line-height: 999px;
  cursor: default;
}
.location .loc_list .sel_view p.btn a.view {
  background-position: -114px -427px;
  cursor: pointer;
}
